# Dependencies
node_modules/
package-lock.json

# Environment variables
.env.production
.env.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
temp/

# Build files
dist/
build/

# MongoDB data
data/

.*/